/* Centrado y estructura */
.carga_articulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 200px;/*esto edite*/
    margin-bottom: 200px;/*esto edite*/
}

.articulo_encuadre {
    background-color: #19388d;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.articulo_encuadre form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Tamaño del textarea */
.textarea_custom1 {
    resize: none; 
    overflow: auto; 
    padding: 10px;
    height: 500px; 
    width: 535px; /*  cambie el tamaño verticalmente */
}

.titulo_articulo {
    margin: 50px 20px;
    font-size: 24px;
    color: var(--color-blanco);
}

.formulario_articulo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Botón de guardar cambios */
.boton_guardar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boton_guardar:hover {
    background-color: #0056b3;
}

/* Estilo del enlace */
.boton__articulo {
    text-align: center;
    margin-top: 1.5rem;
}

.botoncito_color_art {
    background-color: var(--color-purpura);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.botoncito_color_art:hover {
    background-color: #e94560;
}
