.mensaje {
    padding-top: 90px;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.cancelar {
    background-color: #e94560;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

.cancelar:hover {
    color: #7fe6ff;
}